.mainContainer {
  border: 1px solid #829F4F;
  position: relative;
  top: -40px;
  border-radius: 15px;
  padding: 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


@media screen and (max-width: 720px) {
    .mainContainer{
        top: -20px;
    }
}