.gridContainer {
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  overflow-x: hidden;
}
.HeaderTitle{
  font-size: 28px;
  font-weight: 600;
  margin: 45px auto 0 auto;
}
.searchBox {
  width: 100%;
  max-width: 500px;
  border-radius: 50px;
  overflow: hidden;
  margin: 25px auto 35px auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.searchBox :global(.MuiOutlinedInput-root) {
  border-radius: 50px;
  background: transparent;
}

.searchBox :global(.MuiOutlinedInput-notchedOutline) {
  border: 2px solid #064829 !important;
}

.searchBox:hover :global(.MuiOutlinedInput-notchedOutline) {
  border: 2px solid #064829 !important;
}

.searchBox
  :global(.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline) {
  border: 2px solid #064829 !important;
  box-shadow: 0 6px 25px #557b38;
}

.searchBox :global(.MuiInputBase-input) {
  padding: 14px 24px !important;
  font-size: 16px;
  color: #331907;
}

.searchBox :global(.MuiInputBase-input::placeholder) {
  color: #064829 !important;
  opacity: 0.7;
}

.searchBox:hover {
  box-shadow: 0 6px 20px #557b38;
  transform: translateY(-2px);
}

.searchBox:focus-within {
  box-shadow: 0 6px 25px #557b38;
  transform: translateY(-2px);
}
.postsItemsContainer {
  width: 100%;
}

.postsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
  transition: all 0.3s ease-in-out;
}

.postItems {
  flex: 0 0 auto;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1367px) {
  .postsContainer {
    justify-content: center;
  }
}
@media screen and (max-width: 720px) {
  .HeaderTitle {
    font-size: 18px;
  }
}
