@mixin moving-sphere($color, $top, $right, $delay, $duration) {
  background-color: $color;
  opacity: 0.3;
  position: absolute;
  top: $top;
  right: $right;
  width: 2100px;
  margin: 0 auto;
  height: 1200px;
  border-radius: 50%;
  animation-name: sunrise2;
  animation-duration: $duration;
  animation-timing-function: linear;
  animation-delay: $delay;
  animation-iteration-count: infinite;
}
.sun {
  @include moving-sphere(#557B38, -1050px, -300px, 1s, 10s);
}
.sun2 {
  @include moving-sphere(#4E4C4A, -1050px, -1200px, 2s, 14s);
}
.sun3 {
  @include moving-sphere(#064829, -1050px, -600px, 0s, 12s);
}


// isRtl version
@mixin moving-sphere-right($color, $top, $left, $delay, $duration) {
  background-color: $color;
  opacity: 0.3;
  position: absolute;
  top: $top;
  left: $left;
  width: 2100px;
  margin: 0 auto;
  height: 1200px;
  border-radius: 50%;
  animation-name: sunrise2;
  animation-duration: $duration;
  animation-timing-function: linear;
  animation-delay: $delay;
  animation-iteration-count: infinite;
}
.sun4 {
  @include moving-sphere-right(#557B38, -1050px, -300px, 1s, 10s);
}
.sun5 {
  @include moving-sphere-right(#4E4C4A, -1050px, -1200px, 2s, 14s);
}
.sun6 {
  @include moving-sphere-right(#064829, -1050px, -600px, 0s, 12s);
}

@keyframes sunrise2 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(150px, 50px);
  }
  50% {
    transform: translate(300px, 10px);
  }
  75% {
    transform: translate(150px, 50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
