/* Persian Fonts */
.faFont .content,
.faFont .showMoreBtn a {
  font-family: "Yekan", sans-serif !important;
}
/* English Fonts */
.enFont .content,
.enFont .showMoreBtn a {
  font-family: "JosefinSans", sans-serif !important;
}
/* Korean Fonts */
.koFont .content,
.koFont .showMoreBtn a {
  font-family: "JejuMyeongjo", sans-serif !important;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px;
  color: #3d4347;
}
.cardBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #e8fcf27a;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.cardImg {
  width: 290px;
  height: 290px;
  margin: 0 auto;
  border: 1px solid #06482984;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.spacer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.avatar {
  background-color: #064829;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff1e6;
  font-weight: bold;
  font-size: 1rem;
}

.cardBody {
  margin: 5px;
  padding: 10px 5px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.cardBody:hover {
  transform: scale(1.06);
}
.cardContent {
  padding: 15px 10px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  white-space: wrap;
}
.Content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 290px;
}

@media screen and (max-width: 720px) {
  .cardBody {
    width: 100%;
  }
  .card {
    margin: 10px auto;
    justify-content: center;
  }
  .cardImg {
    width: 350px;
    height: 350px;
  }
}
