/* Persian Fonts */
.faFont p {
  font-family: "Yekan", sans-serif !important;
}
.faFont .panelHello {
  font-family: "Lalezar", sans-serif !important;
  font-size: 25px;
}
/* English Fonts */
.enFont p {
  font-family: "BricolageBold", sans-serif !important;
}
.enFont .panelHello {
  font-family: "Chango", sans-serif !important;
  font-size: 25px;
}
/* Korean Fonts */
.koFont p {
  font-family: "JejuMyeongjo", sans-serif !important;
}
.koFont .panelHello {
  font-family: "CafeDongdong", sans-serif !important;
  font-size: 25px;
}

.navbarAppBar {
  background: linear-gradient(to right, #889B4A, #064829);
  z-index: 999 !important;
  width: 100% !important;
  position: fixed !important;
  margin: 5px auto;
  padding: 10px 0 !important;
  display: flex !important;
  align-items: center !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navbarBox,
.panelHello {
  color: bisque !important;
}
.navbarMenuIcon {
  background-color: #889B4A !important;
  color: black;
}
.panelHello {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.helloText {
  color:#E1C6A8;
  font-size: 18px;
  font-weight: 700;
  /* margin: 15px 30px; */
  transition: all 0.3s ease-in;
}


.changeLangDrawer{
  position: relative;
  width: 35%;
  z-index: 1000;
}

