/* Persian Fonts */
.faFont p {
  font-family: "Yekan", sans-serif !important;
}
.faFont .panelHello {
  font-family: "Lalezar", sans-serif !important;
  font-size: 25px;
}
/* English Fonts */
.enFont p {
  font-family: "BricolageBold", sans-serif !important;
}
.enFont .panelHello {
  font-family: "Chango", sans-serif !important;
  font-size: 25px;
}
/* Korean Fonts */
.koFont p {
  font-family: "JejuMyeongjo", sans-serif !important;
}
.koFont .panelHello {
  font-family: "CafeDongdong", sans-serif !important;
  font-size: 25px;
}

.navbarAppBar {
  background: linear-gradient(to right, #064829, #889B4A);
  z-index: 999 !important;
  width: 100% !important;
  position: fixed !important;
  margin: 5px auto;
  padding: 10px 0 !important;
  display: flex !important;
  align-items: center !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navbarBox,
.panelHello {
  color: bisque !important;
}
.navbarMenuIcon {
  background-color: #889B4A !important;
  color: black;
}

.helloText {
  background-color: #064829 !important;
  color:#E1C6A8;
  font-size: 18px;
  font-weight: 700;
  border-radius: 15px;
  padding: 8px 15px;
  margin: 15px 5px;
  border: 1px solid #064829;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s ease-in;
}
.panelHello {
  text-align: center;
  margin: 5px;
  padding: 8px 15px;
}
