.createPostPage {
  margin: 50px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 55vh;
}
.createPostTitle{
  text-align: center;
  margin-top: 30px;
  font-size: 35px;
  font-weight: bold;
  color: #333333;
  border-radius: 30px;
  padding: 10px 15px;
  background-color: #557b3896;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btnContainer{
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.createPostButton1 {
  width: 100%;
  border-radius: 20px;
  text-transform: none;
  font-weight: bold;
  background-color: #557b38;
  box-shadow: 0 4px 12px #557b38;
}
.createPostButton2 {
  width: 100%;
  border-radius: 20px;
  text-transform: none;
  font-weight: bold;
  color: #ac4347;
  border-color: #ac4347;
}
.createPostButton2:hover {
  background-color: #e5d9cf;
}

.createPostButtonIcon {
  margin: 0 8px;
} 



@media screen and (max-width: 720px) {
  .createPostPage{
    margin: 80px auto;
  }
  .btnContainer {
    flex-direction: column;
  }
  .createPostTitle{
    font-size: 15px;
  }
}
